################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagicNumber/.klocwork/MagicNumber
/MagicNumber/.vs/MagicNumber/v15/Server/sqlite3
